
    <div class="row">
        <div class="small-12 medium-3 large-2 columns">
            
            <h4 align="left">
                <strong>{{ pub.date }}</strong>   
            </h4>
            
        </div>
        
        <div class="small-12 medium-9 large-10 columns">

        <h4 align="left">
          <a href="{{site.baseurl}}">
            {{ pub.title }}
            <!-- <strong></strong> -->
          </a> <br />

          <br class="visible-xs-block">
          <small> {{ pub.authors }} </small> <br />

          <br class="visible-xs-block">
          <em><small><a href="{{site.baseurl}}}#disqus_thread"><strong>{{ pub.conference }}</strong></a></small></em><br/>
          {% if pub.url_pdf %}
            <a href= {{ pub.url_pdf }} class="btn btn-primary btn-xs" style="margin-top:10px;">PDF</a>
          {% endif %}
          {% if pub.url_slide %}
            <a href= {{ pub.url_slide }} class="btn btn-primary btn-xs"style="margin-top:10px;">Slides</a>
          {% endif %}
          {% if pub.url_poster %}
            <a href= {{ pub.url_poster }} class="btn btn-primary btn-xs"style="margin-top:10px;">Poster</a>
          {% endif %}
          {% if pub.url_video %}
            <a href= {{ pub.url_video }} class="btn btn-primary btn-xs"style="margin-top:10px;">Video</a>
          {% endif %}
          
          
        </h4>
            
        </div>
    </div>

<!-- Post List Start -->

<!-- <li><p>
<h4 align="left">
  <strong>{{ pub.date }}</strong>   
  <small> &nbsp;&nbsp;&nbsp; </small>
  <a href="{{site.baseurl}}">
    <strong>{{ pub.title }}</strong>
  </a> <br />

  <br class="visible-xs-block">
  <small>. {{ pub.authors }} .</small> <br />

  <br class="visible-xs-block">
  <em><small><a href="{{site.baseurl}}}#disqus_thread"><strong>{{ pub.conference }}</strong></a></small></em> <br />
  <a href="whisper.pdf" class="btn btn-primary btn-xs">PDF</a>
  <a href="imc_2014.pptx" class="btn btn-primary btn-xs">Slides</a>
</h4>
</p></li> -->
<!-- Post List End -->


